/* Home Section */
.home {
  margin-top: 60px;
  overflow-y: auto;
  text-align: center;
}

.homeImage {
  background-image: url("../../../public//images/home.png");
  background-size: cover;
  background-position: center;
  position: relative;
  height: 90vh;
  padding: 10px;
  max-height: 80vh;
  width: 95%;
  left: 20;
  border-radius: 10px;
}
.homeImage h1 {
  position: absolute;
  left: 0;
  margin-top: 22%;
  color: rgb(7, 7, 7);
  padding: 20px;
  border-radius: 10px;
  font-weight: bolder;
  font-family: cursive;
  animation: coloring 3s ease-in-out infinite;
}
@keyframes coloring {
  0% {
    transform: translateY(0);
    color: green;
    text-shadow: 0 0 10px red;
  }
  50% {
    transform: translateY(10px);
    color: palevioletred;
    text-shadow: 0 0 20px yellow;
  }
  100% {
    transform: translateY(0px);
    color: blueviolet;
    text-shadow: 0 0 10px red;
  }
}

/* Mobile Devices (480px – 768px) */
@media screen and (max-width: 768px) {
  .home {
    margin-top: 90px;
  }

  .homeImage {
    height: 55vh;
    min-height: 65vh;
    width: 100%;
    background-image: url("../../../public//images/homemobile.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 6px;
  }

  .homeImage h1 {
    font-size: 20px;
    margin-top: 35%;
    padding: 10px;
  }
}

/* Small Mobile Devices (less than 480px) */
@media screen and (max-width: 480px) {
  .homeImage {
    height: 45vh;
    max-height: 50vh;
    width: 100%;
    background-size: contain;
    padding: 5px;
  }

  .homeImage h1 {
    font-size: 16px;
    margin-top: 35%;
    padding: 8px;
  }
}
